body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	min-width: 960px;
}
.index-background {
	background: #000 url("../img/bg-tint.jpg") no-repeat 50% 72px;
}
.inner-page {
	background: #f8f5f2 url("../img/inner-page-background.jpg");
}
body {
	/*background: url("../img/_barbershop-index.jpg") no-repeat 50% 0;
	background-size: 2560px auto;*/
	/*background: url("../img/_barbershop-shop.jpg") no-repeat 50% 0;
	background-size: 1200px auto;*/
	/*background: url("../img/_barbershop-item.jpg") no-repeat 50% 0;
	background-size: 1200px auto;*/
	/*background: url("../img/_barbershop-price.jpg") no-repeat 50% 0;
	background-size: 1200px auto;*/
}

/* header */
.main-header {
	min-height: 72px;
  background: #000;*/
}
.logo-block {
	float: left;
	width: 110px;
	padding: 22px 20px 19px;
}
.user-block {
	float: right;
	min-height: 72px;
	width: 100px;
}
.main-navigation {
	line-height: 20px;
	width: 640px;
	float: left;
	min-height: 72px;
}
.main-navigation ul {
	font-size: 0;
	margin: 0;
	padding: 0;
}
.main-navigation li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.main-navigation a,
.login {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	display: block;
	padding: 26px 20px;
	color: #fff;
	text-decoration: none;
}
.login {
	position: relative;
  padding-left: 45px;
}
.login::before {
	content: "";
	position: absolute;
	top: 27px;
	left: 14px;
	width: 20px;
	height: 15px;
	background: url("../img/icon-login.png") no-repeat;
	opacity: 0.3;
}
.main-navigation a:hover,
.login:hover {
	background: #242424;
}
.login:hover::before {
	opacity: 1;
}
.active-link::after {
	content: "";
	position: absolute;
	display: block;
	height: 4px;
	left: 20px;
	right: 20px;
	background: #fff;
	bottom: 0;
}

/* общие */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 940px;
	margin: 0 auto;
}
h1{
	margin-top: 50px;
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.breadcrumbs {
	padding-left: 0;
	font-size: 0;
}
.breadcrumbs li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	padding-right: 40px;
}
.breadcrumbs li::after,
.set-comp li::after,
.best-resource li::after {
	content: "";
	position: absolute;
	display: block;
	width: 7px;
	height: 7px;
	top: 6px;
	right: 15px;
	background: #000;
	transform: rotate(45deg);
}
.breadcrumbs li:last-child::after {
	display: none;
}
.breadcrumbs li:last-child {
	color: #aba9a7;
}
.breadcrumbs a {
	color: #000;
	text-decoration: none;
}

/* footer */
.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #fff; 
  background: #252525 url("../img/footer-tint.jpg");
}
.inner-page .main-footer {
	background: #252525 url("../img/inner-page-footer.jpg");
	padding-top: 55px;
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.footer-contacts a {
  color: #fff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}
.footer-copyright {
  float: right;
  max-width: 180px;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}
.social-btn-vk {
  background: #000 url("../img/icon-vk.png") no-repeat center;
}
.social-btn-fb {
  background: #000 url("../img/icon-fb.png") no-repeat center;
}
.social-btn-inst {
  background: #000 url("../img/icon-inst.png") no-repeat center;
}
.social-btn-vk:hover {
  background: #fff url("../img/icon-vk-black.png") no-repeat center;
}
.social-btn-fb:hover {
  background: #fff url("../img/icon-fb-black.png") no-repeat center;
}
.social-btn-inst:hover {
  background: #fff url("../img/icon-inst-black.png") no-repeat center;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
}
.footer-copyright .btn:hover {
  color: #000;
  background-color: #fff;
}

/* для index.html */
.index-logo {
	width: 368px;
  height: 204px;
  margin-left: 290px;
	margin-top: 60px;
}
.features {
	margin-top: 20px;
  margin-bottom: 63px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  min-height: 175px;
	color: #fff;
}
.features-item:last-child {
  margin-right: 0;
}
.features-name {
	position: relative;
	margin: 0;
	text-align: center;
	margin-bottom: 26px;
	padding-bottom: 35px;
	font-size: 30px;
	line-height: 42px;
}
.features-name::after {
	content: "";
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	bottom: 3px;
	left: 50%;
	margin-left: -10px;
	background: #fff;
	transform: rotate(45deg);
}
.features-item p {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}
.index-content {
  margin-bottom: 35px;
  padding-top: 45px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 50px;
	background: 
		url("../img/border.png") no-repeat 50% 50%,
		url("../img/index-content-background.jpg") no-repeat 0 0;
	background-color: #f5f2ef;
}
.index-content:last-child {
	margin-bottom: 65px;
}
.index-content-left {
  float: left;
  width: 380px;
}
.index-content-right {
  float: right;
  width: 300px;
}
.index-content-title {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}
.news-preview {
	list-style: none;
	padding: 0;
}
.news-preview li {
	margin-top: 20px;
}
.index-content p {
	padding: 0;
	margin-bottom: 21px;
}
.news-preview p {
	margin-bottom: 0
}
.news-preview time {
	text-transform: uppercase;
}
.gallery {
	position: relative;
	margin-top: 22px;
	min-height: 260px;
}
.gallery-content {
	margin: 0;	
	text-align: center;
	padding-top: 7px;
	background: #fff;
}
.gallery-content img {
	width: 286px;
	height: 164px;
}
.btn {
  display: inline-block;
  padding: 10px 0px;
	width: 140px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
	margin-right: 17px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	margin: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0px;
}
.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form .btn {
  clear: both;
  width: 100%;
}

/* для catalog.html */
.catalog-box {
	margin-bottom: 48px;
	margin-top: 48px;
}
.select {
	float: left;
	width: 210px;
	min-height: 680px;
}
.care-form fieldset {
	border: none;
	margin: 0;
	margin-bottom: 33px;
	padding: 0;
}
.care-form legend {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 26px;
}
.care-form label {
	display: block;
	position: relative;
	line-height: 18px;
	margin-bottom: 19px;
	padding-left: 42px;
}
.care-form input {
	display: none;
}
.care-form input[type="checkbox"] + .checkbox-indicator,
.care-form input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #000000;
}
.care-form input[type="radio"] + .radio-indicator {
	border-radius: 50%;
}
.care-form input[type="checkbox"]:checked + .checkbox-indicator::before,
.care-form input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: #000;
}
.care-form input[type="radio"]:checked + .radio-indicator::before {
	content: "";
	position: absolute;
	top: 4.5px;
	left: 4.5px;
	width: 7px;
	height: 7px;
	border: 1px solid #000;
	border-radius: 50%;
	background-color: #000;
}
.care-form input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}
.care-form input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
}
.catalog-wrapper {
	float: right;
	width: 720px;
}
.catalog {
	padding-top: 4px;
	font-size: 0;
	min-height: 620px;
	margin-bottom: 17px
}
.catalog-item img {
	width: 220px;
	height: 165px;
}
.catalog-item {
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	min-height: 286px;
	margin-bottom: 20px;
	max-width: 220px;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.catalog-item-box {
	padding: 5px 15px;
	text-transform: none;
	line-height: 18px;
}
.catalog-item-box a {
	text-decoration: none;
	color: #000;
}
.catalog-buy {
	margin-top: 14px;
	font-size: 0px;
}
.catalog-buy .btn,
.catalog-buy p,
.price-buy p,   /* для catalog-item.html */
.price-buy .btn {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	text-transform: uppercase;
}
.catalog-buy p,
.price-buy p /* для catalog-item.html */ {
	width: 107px;
	padding: 13px 0;
	padding-left: 3px;
	text-align: center;
	background: #e5e5e5;
}
.catalog-item .btn,
.price-buy .btn /* для catalog-item.html */ {
	color: #fff;
	width: auto;
	padding: 13px 19px;
}
.item-brand {
	text-transform: uppercase;
}
.pagination {
	min-height: 43px;
	padding-left: 20px;
}
.pagin-btn {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	width: 43px;
	height: 29px;
	padding: 7px 0; 
	text-align: center;
	margin-right: 4px;
	background: #000;
}
.active-btn {
	background: #fff;
	color: #000;
}

/* для catalog-item.html */
.item-box {
	margin-top: 53px;
	margin-bottom: 36px;
}
.catalog-item-gallery {
	float: left;
	width: 460px;	
}
.desc {
	float: right;
	width: 380px;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase
}
.avail {
	padding-top: 5px;
}
.avail-item {
	float: left;
}
.item-article {
	float: right;
	color: #aeaeae;
}
.price-buy {
	font-size: 0;
	margin-top: 36px;
}
.desc h2 {
	margin-top: 62px;
	font-size: 24px;
	line-height: 30px;
}
.set-comp {
	list-style: none;
	padding: 0;
	margin-top: 26px;
}
.set-comp li {
	position: relative;
	padding-left: 20px;
}
.set-comp li::after {
	top: 9px;
	left: 3px;
}

.gallery-list {
	padding: 0;
	margin: 0;
	margin-top: 14px;
	font-size: 0;
}
.gallery-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.gallery-item:last-child {
	margin-right: 0px;
}

/* для price.html */
.price-title {
	font-size: 48px;
	text-transform: uppercase;
	line-height: 48px;
	text-align: center;
}
.best-resource {
	float: left;
}
.price-list {
	float: right;
}
.big-heading {
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
}
.big-heading h2 {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 0;
	padding: 0 25px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}
.big-heading::after {
	content: "";
	position: relative;
	top: -25px;
	z-index: 1;
	display: block;
	border-bottom: 2px solid #000000;
}
.best-resource,
.price-list{
	min-height: 270px;
	width: 460px;
	margin-bottom: 25px;
}
.best-resource h2,
.price-list h2 {
	margin: 0;
	margin-top: 15px;
	width: 240px;
	font-size: 24px;
	line-height: 30px;
}
.price-list h2 {
	width: 200px;
}
.best-resource ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}
.best-resource li {
	position: relative;
	margin-bottom: 13px;
	padding-left: 20px;
}
.best-resource li::after {
	top: 7px;
	left: 2px;
}
.price-list table {
	border-collapse: collapse;
	margin-top: 30px;
}
.price-list td {
	border: 2px solid #000;
	padding: 8px 15px;
	width: 230px;
}
.price-list td:last-child {
	text-align: center;
}
.about-us {
	clear: both;
	text-transform: uppercase;
	margin-bottom: 62px;
	font-size: 0;
}
.about-us h2 {
	font-size: 24px;
	margin-bottom: 18px;
}
.about-us p {
	display: inline-block;
	vertical-align: top;
	width: 385px;
	font-size: 14px;
}
.about-us p:first-of-type {
	margin-right: 95px;
}