html,
body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
}
h1{
	font-size: 30px;
	line-height: 42px;
}
.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}